<div class='col-12 mb-30'>
  <div class='box'>
    <div class='box-head'>
      <h4 class='title'>دیدگاه ها</h4>
    </div>
    <div class='box-body'>
      <table class='table'>
        <thead class='thead-dark'>
          <tr>
            <th>نویسنده</th>
            <th>دیدگاه</th>
            <th>به پست</th>
            <th>زمان ارسال</th>
            <th>عملیات</th>
          </tr>
        </thead>
        <tbody>
          {{#each comments}}
            <tr>
              <td class='d-flex justify-content-start align-items-center'>
                <div class='comments--photo-user rounded'>
                  <img src='/assets/images/avatar/avatar-1.jpg' alt='' />
                </div>
                <p>
                  {{this.full_name}}
                </p>
              </td>
              <td>
                {{this.comment}}
              </td>
              <td>{{this.title}}</td>
              <td>{{this.created_at_readable}}</td>
              <td>
                <a href='/admin/comments/{{this.id}}/status/2' title='تایید'><i
                    class='fa fa-check text-success'
                  ></i></a>
                <a href='/admin/comments/{{this.id}}/status/1' title='رد'><i
                    class='fa fa-times text-danger'
                  ></i></a>
                <a href='/admin/comments/delete/{{this.id}}' title='حذف'><i
                    class='fa fa-trash-o text-dark'
                  ></i></a>

              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <nav aria-label='Page navigation example'>
        <ul class='pagination justify-content-center'>
          {{#if prevPage}}
            <li class='page-item'>
              <a
                class='page-link'
                href='/admin/comments?page={{prevPage}}'
                aria-label='Previous'
              >
                <span aria-hidden='true'>&laquo;</span>
                <span class='sr-only'>Previous</span>
              </a>
            </li>
          {{else}}
            <li class='page-item disabled'>
              <a
                class='page-link'
                href='/admin/comments?page={{prevPage}}'
                aria-label='Previous'
                aria-disabled='true'
                disabled
              >
                <span aria-hidden='true'>&laquo;</span>
                <span class='sr-only'>Previous</span>
              </a>
            </li>
          {{/if}}

          {{#each countPageArr}}
            {{#ifCond this}}
              <li class='page-item active'><a
                  class='page-link'
                  href='/admin/comments?page={{this}}'
                >{{this}}</a></li>
            {{else}}
              <li class='page-item'><a
                  class='page-link'
                  href='/admin/comments?page={{this}}'
                >{{this}}</a></li>
            {{/ifCond}}

          {{/each}}
          <li class='page-item'>
            <a
              class='page-link'
              href='/admin/comments?page={{nextPage}}'
              aria-label='Next'
            >
              <span aria-hidden='true'>&raquo;</span>
              <span class='sr-only'>Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>